<body>
    <div class="main_container">
        <!-- Carrusel de Últimas Noticias -->
        <div class="carousel">
            <app-carrusel-noticias ngSkipHydration></app-carrusel-noticias>
        </div>

        <!-- Próximas Carreras -->
        <div class="next-races">
            <h2>Próximas Carreras</h2>
            <ul>
                <li>Carrera 1 - Fecha</li>
                <li>Carrera 2 - Fecha</li>
                <li>Carrera 3 - Fecha</li>
            </ul>
        </div>

        <!-- Posición en la Carrera Actual -->
        <div class="current-position">
            <h2>Posición Actual</h2>
            <p>¡Estás en la posición X en la carrera actual!</p>
        </div>
    </div>    
</body>

