
<div class="perfil-container">        
    <app-barra-navegacion class="barra"></app-barra-navegacion> 
    <form class="caja_titulo">  
        <h1 class="titulo">Reservar Circuito</h1>
    </form>

    <div class="reserva">
        <p class="fecha_txt">Fecha</p>
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Selecciona una fecha">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <p class="equipo_txt">Equipo</p>

        <p class="legocar_txt">LegoCar</p>
    </div>

    <button class="boton_editar"> 
        Realizar Reserva
    </button>
</div>
<app-barra-inferior></app-barra-inferior>