

<div class="carreras-container">        
    <app-barra-navegacion class="barra"></app-barra-navegacion> 
    <form class="caja_titulo">  
        <h1 class="titulo">Carreras</h1>
    </form>

    <div class="funciones">
        <div class="caja1">
            <h2 class="titulo1">Carrera 1</h2>
            <img src="../../assets/images/carrera_1.jpeg" alt="">
        </div>

        <div class="caja2">
            <h2 class="titulo2">Carrera 2</h2>
            <img src="../../assets/images/carrera_2.jpeg" alt="">
        </div>


        <div class="caja3">
            <h2 class="titulo2">Carrera 3</h2>
            <img src="../../assets/images/carrera_3.jpeg" alt="">
        </div>
        

        <div class="caja4">
            <h2 class="titulo2">Carrera 4</h2>
            <img src="../../assets/images/carrera_4.jpeg" alt="">
        </div>
        
    </div>
    
</div>

<app-barra-inferior></app-barra-inferior>
      