    
  <body class="footer">
    <div>
        <h3>Colaboradores</h3>
        <div class="footer-colab">
          <a href="#" target="_blank"><img src="../../assets/images/skinclub.png" alt="Skinclub"></a>
          <a href="#" target="_blank"><img src="../../assets/images/uni.png" alt="Universidad de Murcia"></a>
          <a href="#" target="_blank"><img src="../../assets/images/Logo-Murcia.png" alt="Ayuntamiento de Murcia"></a>
          <a href="#" target="_blank"><img src="../../assets/images/pccom.png" alt="Pccomponentes"></a>
          <a href="#" target="_blank"><img src="../../assets/images/melonesAbuelo.png" alt="Melones el Abuelo"></a>
          <a href="#" target="_blank"><img src="../../assets/images/MrBeast.png" alt="MrBeast"></a>
        </div>
      </div>

    <div class="container">
      
      <div class="footer-section">
        <h3>Contacto</h3>
        <ul>
          <li>Dirección: Calle Fuerteventura, Murcia</li>
          <li>Email: <a href="mailto:a.martinezmarin1@um.com">a.martinezmarin1um.com</a></li>
          <li>Teléfono: (+34) 660 546 235</li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Enlaces</h3>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Acerca de nosotros</a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Síguenos</h3>
        <div class="footer-social">
          <a href="#" target="_blank"><img src="../../assets/images/facebook-icon.png" alt="Facebook"></a>
          <a href="#" target="_blank"><img src="../../assets/images/twitter-icon.png" alt="Twitter"></a>
          <a href="#" target="_blank"><img src="../../assets/images/instagram-icon.png" alt="Instagram"></a>
        </div>
      </div>
      
    </div>
  </body>
