
<div class="footer">
    <div class="separador">
    </div>
    <div>
      <h3>Colaboradores</h3>
      <div class="footer-colab">
        <a href="https://skin.club/es" target="_blank"><img src="../../assets/images/skinclub.png" alt="Skinclub"></a>
        <a href="https://www.um.es/" target="_blank"><img src="../../assets/images/uni.png" alt="Universidad de Murcia"></a>
        <a href="https://www.murcia.es/web/portal/inicio;jsessionid=0DF8BC1FE7D4903205B293DD955C757A" target="_blank"><img src="../../assets/images/Logo-Murcia.png" alt="Ayuntamiento de Murcia"></a>
        <a href="https://www.pccomponentes.com/" target="_blank"><img src="../../assets/images/pccom.png" alt="Pccomponentes"></a>
        <a href="https://meloneselabuelo.com/" target="_blank"><img src="../../assets/images/melonesAbuelo.png" alt="Melones el Abuelo"></a>
        <a href="https://www.youtube.com/channel/UCX6OQ3DkcsbYNE6H8uQQuVA" target="_blank"><img src="../../assets/images/MrBeast.png" alt="MrBeast"></a>
      </div>
    </div>

    <div class="container">
      <div class="footer-section">
        <h3>Contacto</h3>
        <ul>
          <li>Dirección: Calle Fuerteventura, Murcia</li>
          <li>Email: <a href="mailto:a.martinezmarin1@um.com">a.martinezmarin1&#64;um.com</a></li>
          <li>Teléfono: (+34) 660 546 235</li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Enlaces</h3>
        <ul>
          <li><a>Política de privacidad</a></li>
          <li><a>Acerca de nosotros</a></li>
          <li><a>Servicios</a></li>
          <li><a>Cookies</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Síguenos</h3>
        <div class="footer-social">
          <a target="_blank"><img src="../../assets/images/facebook-icon.png" alt="Facebook"></a>
          <a target="_blank"><img src="../../assets/images/twitter-icon.png" alt="Twitter"></a>
          <a target="_blank"><img src="../../assets/images/instagram-icon.png" alt="Instagram"></a>
        </div>
      </div>

    </div>
</div>