

<div class="seleccion-container">        
    <form class="caja_titulo">  
        <h1 class="titulo">Legocars</h1>
    </form>
    <form class="caja_subtitulo">  
        <h2 class="subtitulo">¿Como quieres iniciar sesión?</h2>
    </form>
    <div class="funciones">
        <div (click)="irALoginTripulacion()" class="caja1">
            <h2 class="titulo1">Tripulación</h2>
            <img src="../../assets/images/tripulacion.jpeg" alt="">
        </div>

        <div class="caja2">
            <h2 class="titulo2">Federación</h2>
            <img src="../../assets/images/federacion.jpeg" alt="">
        </div>


        <div class="caja3">
            <h2 class="titulo2">Ayuntamiento</h2>
            <img src="../../assets/images/ayuntamiento.jpeg" alt="">
        </div>
        

        <div class="caja4">
            <h2 class="titulo2">Asistente</h2>
            <img src="../../assets/images/asistente.jpeg" alt="">
        </div>

        <div class="caja5">
            <h2 class="titulo2">Administrador</h2>
            <img src="../../assets/images/administrador.jpeg" alt="">
        </div>
        
    </div>
    
</div>      
