.seleccion-container {
    display: grid;
    grid-template-columns: 15% auto 15%;
    grid-template-rows: 15% auto 50px auto 20px auto 50px 30%;
    margin: auto; 
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.caja_titulo {
    grid-area: 2 / 2 / 3 / 3;
    margin: auto;
    width: fit-content;
}

.caja_subtitulo {
    grid-area: 4 / 2 / 5 / 3; 
    margin: auto;
    width: fit-content;
}

.subtitulo {
    color: black;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    border-radius: 35px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-weight: 500; 
}

.funciones{
    grid-area: 6 / 2 / 7 / 3;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%; 
    grid-template-rows: 300px;  

}

.titulo2 {
    align-items: top;
}
  
.caja1, .caja2, .caja3, .caja4, .caja5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;    
    color: black;
    background: rgba(255, 255, 255, 0.8);
    padding: 15px;
    margin: 10px;
    height: 100%;
    text-align: center;
    border-radius: 35px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
    user-select:none;
}

.caja1:hover, .caja2:hover, .caja3:hover, .caja4:hover, .caja5:hover {
    transform: scale(1.1);
  }

img{
    width: auto;
    height: 70%; 
    vertical-align: middle; 
    border-radius: 35px;

}

.bio, .posicion {
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    
}

.bio {
   
    grid-area: 5 / 2 / 6 / 3;
    display: grid;
    grid-template-columns: 80px 50px auto;
    grid-template-rows: auto 50px 200px 20px;  
    width: 50%; 
    margin-right: 100px;
    margin: auto;
}
