
<body>
    <div class="perfil-container">        
        <app-barra-navegacion class="barra"></app-barra-navegacion> 
        <form class="caja_titulo">  
          <h1 class="titulo">Perfil</h1>
        </form>

        <div class="bio">
            <img class="perfil" src="../../assets/images/logo_equipo.png" alt="Logo">
            <h2 class="nombre">Los Casos</h2>
            <div class="texto_bio_container">
                <p class="texto_bio">
                    En el vasto y colorido reino de la innovación automotriz, emerge un equipo destinado a dejar una huella indeleble en la pista de carreras. En un mundo donde la pasión por la velocidad y la creatividad se entrelazan, nace "Legocars", un equipo de competición que desafía los límites de lo posible utilizando bloques de construcción como su herramienta principal.
                <br><br>
                    Desde los rincones más remotos de la imaginación, los ingenieros y diseñadores de Legocars forjaron un camino hacia la grandeza. Cada ladrillo ensamblado con precisión es un testimonio de la dedicación inquebrantable y la audacia que define a este equipo único. Los cimientos de su leyenda están construidos sobre la firme creencia de que la excelencia no tiene límites, y que incluso los sueños más intrépidos pueden ser realizados con suficiente ingenio y determinación.
                <br><br>
                    El rugir de los motores personalizados, meticulosamente ensamblados con minuciosidad digna de un artesano, resuena como un himno en las pistas de carreras. Cada curva, cada recta, se convierte en un escenario épico donde los Legocars desafían a la velocidad misma, demostrando que la ingeniería de vanguardia y la destreza técnica pueden fusionarse de manera armoniosa con la simplicidad de los bloques de construcción.
                </p>
            </div>
        </div>
        <div class="posicion">
            <h2>¡Sigue así!</h2>
            <p>Tu mejor puesto en un campeonato es #3</p>
        </div>
        <button class="boton_editar"> 
            Editar Perfil
        </button>
    </div>
</body>
<app-barra-inferior></app-barra-inferior>
      