

<div class="campeonatos-container">        
    <app-barra-navegacion class="barra"></app-barra-navegacion> 
    <form class="caja_titulo">  
        <h1 class="titulo">Campeonatos</h1>
    </form>

    <div class="funciones">
        <div (click)="irACampeonato('Campeonato 1')" class="caja1">
            <h2 class="titulo1">Campeonato 1</h2>
            <img src="../../assets/images/cam1.jpeg" alt="">
        </div>


        <div (click)="irACampeonato('Campeonato 2')" class="caja2">
            <h2 class="titulo2">Campeonato 2</h2>
            <img src="../../assets/images/cam2.jpeg" alt="">
        </div>


        <div (click)="irACampeonato('Campeonato 3')" class="caja3">
            <h2 class="titulo2">Campeonato 3</h2>
            <img src="../../assets/images/cam3.jpeg" alt="">
        </div>
        

        <div (click)="irACampeonato('Campeonato 4')" class="caja4">
            <h2 class="titulo2">Campeonato 4</h2>
            <img src="../../assets/images/cam4.jpeg" alt="">
        </div>
        
    </div>
    
    <button class="inscipcion"> Inscribirse a un nuevo campeonato</button>

</div>

<app-barra-inferior></app-barra-inferior>
      