

<div class="campeonatos-container">        
    <app-barra-navegacion class="barra"></app-barra-navegacion> 
    <form class="caja_titulo">  
        <h1 class="titulo">Campeonatos</h1>
    </form>

    <div class="funciones">
        <div class="caja1">
            <h2 class="titulo1">Reservar circuito</h2>
            <img src="../../assets/images/u57.png" alt="">
        </div>


        <div class="caja2">
            <h2 class="titulo2">Clasificacion</h2>
            <img src="../../assets/images/u61.png" alt="">

        </div>


        <div class="caja3">
            <h2 class="titulo2">Carreras</h2>
            <img src="https://images.vexels.com/media/users/3/139417/isolated/preview/aae637ef0641ef8859dac54a5eaab644-ganador-de-la-bandera-de-carreras-de-coches-en-blanco-y-negro.png" alt="">

        </div>
        

        <div class="caja4">
            <h2 class="titulo2">Gestionar tripulacion</h2>
            <img src="../../assets/images/u47.png" alt="">

        </div>
        
    </div>
    
</div>

<app-barra-inferior></app-barra-inferior>
      