<app-barra-navegacion></app-barra-navegacion>

<div class="campeonatos-container">
    <form class="caja_titulo">
        <h1 class="titulo">Clasificación Campeonato 1</h1>
    </form>

    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table">
                    <div class="row header">
                        <div class="cell">
                            Posición
                        </div>
                        <div class="cell">
                            Equipos
                        </div>
                        <div class="cell">
                            Puntos
                        </div>

                    </div>
                    <div class="row">
                        <div class="cell">
                            <strong>#1</strong>
                        </div>
                        <div class="cell">
                            Skinclub
                        </div>
                        <div class="cell">
                            56
                        </div>

                    </div>
                    <div class="row">
                        <div class="cell">
                            <strong>#2</strong>
                        </div>
                        <div class="cell">
                            Club de las cajas
                        </div>
                        <div class="cell">
                            45
                        </div>

                    </div>
                    <div class="row">
                        <div class="cell">
                            <strong>#3</strong>
                        </div>
                        <div class="cell">
                            Maleniers
                        </div>
                        <div class="cell">
                            41
                        </div>

                    </div>
                    <div class="row">
                        <div class="cell">
                            <strong>#4</strong>
                        </div>
                        <div class="cell">
                            LosCasos
                        </div>
                        <div class="cell">
                            36
                        </div>

                    </div>
                    <div class="row">
                        <div class="cell">
                            <strong>#5</strong>
                        </div>
                        <div class="cell">
                            VoltAddict
                        </div>
                        <div class="cell">
                            20
                        </div>

                    </div>
                    <div class="row">
                        <div class="cell">
                            <strong>#6</strong>
                        </div>
                        <div class="cell">
                            MiniMini
                        </div>
                        <div class="cell">
                            18
                        </div>

                    </div>
                    <div class="row">
                        <div class="cell">
                            <strong>#7</strong>
                        </div>
                        <div class="cell">
                            DS2
                        </div>
                        <div class="cell">
                            17
                        </div>

                    </div>
                    <div class="row">
                        <div class="cell">
                            <strong>#8</strong>
                        </div>
                        <div class="cell" data-title="Age">
                            MistelBeast
                        </div>
                        <div class="cell">
                            15
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-barra-inferior></app-barra-inferior>