<head>
    <meta charset="UTF-8">
    <title>Barra de navegación</title>
    <link rel="stylesheet" href="barra-navegacion.component.css">
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-list">
            <li class="navbar-item"><img class="logo" src="/src/assets/images/Logo legocars.png" alt="Logo"></li>
            <li class="navbar-item"><a href="#">Inicio</a></li>
            <li class="navbar-item"><a href="#">Acerca de</a></li>
            <li class="navbar-item"><a href="#">Servicios</a></li>
            <li class="navbar-item"><a href="#">Contacto</a></li>
        </ul>
    </nav>
</body>
