
/* Estilos para la barra de navegación */
.navbar-list {
    background-color: #333;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    list-style-type: none; /* Remove the bullet point */
    flex-direction: row; /* Make it horizontal */
}

/* Estilos para el icono de la aplicación */
.logo {
  font-size: 24px;
  margin-right: 10px;
  width: 80px;
}
  
/* Estilos para los elementos de la barra de navegación */
.navbar-item {
  margin-right: 20px;
  font-size: 20px;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  text-decoration: none; /* Remove underline */
  color: #fff; /* Text color white */
  cursor: default;
}

